<!DOCTYPE html>
<html>

<head>
    <title>Register User</title>
</head>

<body>


    <h1>Register</h1>
    <form action="/register" method="POST" name="register_user_form">
        <input id="next" name="next" type="hidden" value="/">

        <p>
            <label for="username">Full Name</label> <input id="username" name="username" required type="text" value="">

        </p>

        <p>
            <label for="email">Email Address</label> <input id="email" name="email" required type="text" value="">

        </p>


        <p>
            <label for="password">Password</label> <input id="password" maxlength="128" minlength="6" name="password"
                required type="password" value="">

        </p>



        <p>
            <label for="password_confirm">Retype Password</label> <input id="password_confirm" name="password_confirm"
                required type="password" value="">

        </p>



        <p><input id="submit" name="submit" type="submit" value="Register"></p>

    </form>

    <h2>Menu</h2>
    <ul>
        <li><a href="/login?next=/">Login</a></li>

        <li><a href="/register?next=/">Register</a><br /></li>



    </ul>


</body>

</html>