{% with title=title %}{% include "header.html" %}{% endwith %}

<h1>Add Tracker</h1>
<form action="/tracker/add" method="POST" name="add_tracker_form">
    <p>
        <label for="tname">Name</label> <input id="tname" name="tname" required type="text" value="">
    </p>


    <p>
        <label for="tdescription">Description</label> <input id="tdescription" name="tdescription" required type="text" value="">
    </p>


    <p>
        <label for="ttype">Tracker Type</label>
        <select name="ttype" id="ttype">
            <option value="integer">Numerical (integer)</option>
            <option value="float">Numerical (Decimal)</option>
            <option value="ms">Multi-Select Choices</option>
        </select>
    </p>

    <p id='tchoiceblock'>
        <label for="tchoices">Choices (Write each choice in single line.)</label>
        <textarea name="tchoices" id="tchoices"></textarea>
    </p>


    <p>
        <label for="tsettings">Settings</label><input id="tsettings" name="tsettings" required type="text" value="">
    </p>
    <p><input id="submit" name="submit" type="submit" value="Submit"></p>

</form>

<script>
    tcb = document.getElementById('tchoiceblock');
    tcb.style.display = 'none';
    selected_choice = document.getElementById('ttype');
    
    selected_choice.onchange = function(){
        if (selected_choice.value == 'ms'){
            tcb.style.display = 'block';
        } else {
            tcb.style.display = 'none';
        };  
    };
</script>

{% with title=title %}{% include "footer.html" %}{% endwith %}