{% with title=title %}{% include "header.html" %}{% endwith %}

<h1>
    Hi, {{ current_user.username }}
</h1>

<table border="1">
    <tr>
        <th>Tracker</th>
        <th>Last Tracked</th>
        <th></th>
        <th></th>
    </tr>
    {% for i in trackers %}
    <tr>
        <td><a href="/tracker/{{i['id']}}/show/w">{{i['name']}}</a></td>
        <td>{{i['updated_at']}}</td>
        <td><a href="/tracker/{{i['id']}}/log/add">Log Value</a></td>
        <td>Action: <a href="/tracker/{{i['id']}}/edit">Edit</a>, 
            <a href="/tracker/{{i['id']}}/delete">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<h2><a href="/tracker/add">Add Tracker</a></h2>

{% with title=title %}{% include "footer.html" %}{% endwith %}